useDynLib(dfTensor)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
export("PLSA")
export("CP_TD")
export("df2Tensor")
export("reconstruct")
export("mean_polish")
export("poisson_rates")
export("tensor2df")
export("transform_tensor")
export("%=%")
S3method(print,dfTensor)
#export("portal_tensor")
#export("recommend")
